
@model Prueba_2_MVC.Models.Perros

@{
    ViewBag.Title = "Index";
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



<div>
    <div class="p-1" style="background-color: rgba(0, 32, 96, 1);">
        <h5 class="text-light text-center">Antes de continuar unas breves preguntas</h5>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group mt-5">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 input-group-text bg-textbox text-center" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control rounded-end" } })
                @Html.ValidationMessageFor(model => model.Name, " ", new { @class = "text-danger" })

            </div>

            <div class="input-group mt-4">
                @Html.LabelFor(model => model.Edad, htmlAttributes: new { @class = "control-label col-md-2 input-group-text bg-textbox" })
                @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Edad, " ", new { @class = "text-danger" })
            </div>

            <div class="input-group mt-4 mb-3">
                @Html.LabelFor(model => model.TipoRazaID, htmlAttributes: new { @class = "control-label col-md-2 input-group-text bg-textbox" })
                @Html.EditorFor(model => model.TipoRazaID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TipoRazaID, " ", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group mb-5">
        <div class="">
            <input type="submit" value="Agregar" class="btn btn-info" />
        </div>
    </div>
    <div class="p-1" style="background-color: rgba(0, 32, 96, 1);">
        <h5 class="text-light text-center">Antes de continuar unas breves preguntas</h5>
    </div>

    <div class="mt-4">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group mb-5">
        <div class="">
            <input type="submit" value="Agregar" class="btn btn-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
